## template
# 忽略 .csv 文件
*.csv
*.asv
*.m~
*.mat

# 忽略 test2.m
test2.m
GrdTversion.m
batch.m
test_change.m
pathdef.m
beenoera
beenoera.pub
.DS_Store
batch_Dave.m

# 忽略 experiment_monte/ 文件夹下的所有文件
experiment_monte/
experiment_shape/
former/
GrdData/
batch/

# 但否定忽略 lib.a, 尽管已经在前面忽略了 .a 文件
# !lib.a
# 仅在当前目录下忽略 TODO 文件， 但不包括子目录下的 subdir/TODO
# /TODO
# 忽略 doc/notes.txt, 不包括 doc/server/arch.txt
# doc/*.txt
# 忽略所有的 .pdf 文件 在 doc/ directory 下的
# doc/**/*.pdf